.call_page {
    background-color:#dcf8c6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .call_page h1{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 5px;
    padding:10px 0px;

  }
  
  
  .call_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .call_item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
  }
  
  .call_item.active {
    background-color:transparent;
  }
  
  .call_item:last-child {
    border-bottom: none;
  }
  
  .call_avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .call_info {
    flex: 1;
  }
  
  .call_info h2 {
    margin: 0;
    font-size: 18px;
    color: #075E54;
  }
  
  .call_info span {
    margin: 5px 0 0;
    color: #888;
    font-size: 14px;
  }
  
  .call_time span {
    color: #888;
    font-size: 12px;
  }
  
  .call_details {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #dcf8c6;
   
  }
  .call_details  h2{
    
    color: white;
    text-shadow: 2px 2px 5px #dcf8c6;
    font-weight: bold;
    padding: 10px;

   
  }
  .call_details  p{
    
    color: white;
    font-weight: bold;
    padding: 10px;

   
  }
  .call_details img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    align-content: center; 
    /* object-fit: fill; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }