*{
  box-sizing: border-box;
}
.setting_page {
    background-color: #dcf8c6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  }
  
  .setting_section {
    margin-bottom: 20px;
    margin-top: 10px;
    
  }
  .setting_page h1{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 5px;
    padding:10px 0px;

  }
  
  
  .setting_section h2 {
    cursor: pointer;
    color: #dcf8c6;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
    
  }
  
  .setting_section ul {
    list-style-type: none;
    padding-left: 100px;
    margin: 0;
    
  }
  
  .setting_section ul li {
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    
  }
  
  .setting_section ul li:last-child {
    border-bottom: none;
  }
  